body{
background-image: url(https://th.bing.com/th/id/R.e9667626718243e9122c424f4b5e0a3f?rik=zr05efwU56raZw&pid=ImgRaw&r=0);
background-repeat: no-repeat;
background-size: cover;
}

a{
    background-color: #abebc6;
font-family: Arial, Helvetica, sans-serif;
color: #abebc6;
align-content: center;

}
p{
    background-color: #c5cfd4;
    border-width: 2px;
    border-color: rgb(148, 164, 170);
    border-radius: 20px;
    border-style: groove;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
font-size: 18px;
color: rgb(0, 0, 0);
align-content: center;  
text-align: unset;
line-height: 1.5;
}

h3{
    padding: 5px 5px;
background-color: rgb(156, 168, 172);
    border-width: 5px;
    border-radius: 10px;
    border-style: groove;
    
}

img{
    border-radius: 3px;
    border-style: groove;
    border-color: rgb(255, 255, 255);
    border: #ffffff;
}
table{
    padding: 20px;
    border-radius: 10px;
    border-style: groove;
    border-color: rgb(255, 255, 255);
    background-color: #ffffff;
    table-layout: fixed;
    width: 95%;
    vertical-align: top;
    text-align: left;
}

h1{ background-color:#c09c5d9d;
    border-width: 5px;
    border-color: rgb(20, 19, 19);
    border-radius: 20px;
    border-style: groove;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
color: 	#031b03;
align-content: center;

}

image{ background-color:#cfcfcf;
    border-style: groove;
font-family: Arial, Helvetica, sans-serif;
color: rgb(76, 76, 82);
align-content: center;

}

li{
    background-color: #bbc0bc;
    border-width: 2px;
    border-color: rgb(213, 218, 214);
    border-radius: 20px;
    border-style: groove;
padding:1px;
font-size: small;
font-size: 20px;
color: rgb(7, 8, 7);
align-content: center;  
font-style:italic;
}
h4{
    background-color: #cfcfcf;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-style: groove;
padding: px;
font-family:monospace;
font-size: 25px;
color: rgb(0, 0, 0);
align-content: center; 


}
h5{
    background-color: #636863;
    border-width: 2px;
    border-color: rgb(96, 100, 88);
    border-radius: 20px;
    border-style: groove;
padding: px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;
color: rgb(255, 255, 255);
align-content: center; 
}
h6{
    background-color: #a2a7a2;
    border-width: 2px;
    border-color: rgb(177, 177, 177);
    border-radius: 20px;
    border-style: groove;
padding: 15px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;
color: rgb(15, 13, 13);
align-content: center; 
}



